<div class="container">
    <form class="form" [formGroup]='registrationForm'>

        <div class="forGroup">
        <label>First Name</label>
        <input class="input" [(ngModel)]='fName' type="text" formControlName='firstName' >
        <div>
            <small  class="error" *ngIf = 'firstName.invalid && firstName.touched'>First Name is required</small>
        </div>
    </div>

    <div class="forGroup">
        <label>Last Name</label>
        <input class="input" [(ngModel)]='lName' type="text"   formControlName='lastName' >
        <div>
            <small  class="error" *ngIf='lastName.invalid && lastName.touched'>Last Name is required</small>
        </div>
    </div>

    <div class="forGroup">
        <label>Email</label>
        <input class="input" [(ngModel)]='Email' type="email" formControlName='email'>
        <div  *ngIf="email.invalid && email.touched">
            <small class="error" *ngIf="email.invalid && email.touched">email is required</small>
            <small class="error" *ngIf='email.errors.pattern'>email must be valid</small>
        </div>
    </div>

    <div class="forGroup">
        <label>Password</label>
        <input class="input" [(ngModel)]='Password' type="password" formControlName='password' >
        <div  *ngIf='password.invalid && password.touched'>
            <small class="error" *ngIf="password.errors.required">Password is required</small>
            <small class="error" *ngIf="password.errors.minlength">Password Must be mor then 3 simbol</small>
        </div>
    </div>

    <div class="forGroup"> 
        <label>Confirm Password</label>
        <input class="input" type="password"  formControlName='confirmPassword'>
        <div *ngIf='confirmPassword.invalid && confirmPassword.touched'>
            <small class="error" *ngIf='confirmPassword.errors.required'>Confirm password is required</small>
            <small class="error" *ngIf="confirmPassword.errors.confirmValidator">Password and Confirm Password must match </small>
        </div>
    </div>
    <div>
        <button class="login" (click)='submitBtn()'>Submit</button>
    </div>
</form>
</div>